<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    {#jquery should be loaded first than bootstrap.js#}
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
    <script src="{{ url_for('static', filename='js/axios.js') }}"></script>

    {% block head %}{% endblock %}
</head>

<body>
{#<nav class="navbar navbar-default navbar-fixed-top" role="navigation">#}
{#    <div class="container">#}
{#        <div id="navbar" class="navbar-collapse collapse">#}
{#            <ul class="nav navbar-nav navbar-right">#}
{#                {% if current_user.is_authenticated %}#}
{#                    <li><a href="{{ url_for('auth_flask_login.logout') }}">Logout</a></li>#}
{#                {% else %}#}
{#                    <li><a href="{{ url_for('auth_flask_login.login') }}">Login</a></li>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}

<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>
</body>
</html>
