{% extends 'user.html' %}

{% block head %}
    <title> User home </title>
{% endblock %}

{% block content %}

    <div class="container">
        <form id="form" v-on:submit.prevent="submit">
            <div class="form-group row">
                <label for="security" class="col-sm-2 col-form-label">Security</label>
                <div class="col-sm-10">
                    <select id="security" v-model="order.security" class="form-control">
                        <option value="601398">Industrial and Coml Bank of China</option>
                        <option value="601988">Bank of China</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="shares" class="col-sm-2 col-form-label">Shares</label>
                <div class="col-sm-10">
                    <input type="number" id="shares" v-model="order.shares" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="operation" class="col-sm-2 col-form-label">Operation</label>
                <div class="col-sm-10">
                    <select id="operation" v-model="order.operation" class="form-control">
                        <option value="buy">buy</option>
                        <option value="sell">sell</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="method" class="col-sm-2 col-form-label">Methods</label>
                <div class="col-sm-10">
                    <select id="method" v-model="order.method" class="form-control">
                        <option value="twap">twap</option>
                        <option value="vwap">vwap</option>
                    </select>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        let form = new Vue({
            el: "#form",
            delimiters: ['${', '}'],
            data: {
                order: {
                    security: '601398',
                    shares: 0,
                    operation: 'buy',
                    method: 'vwap'
                }
            },
            methods: {
                submit: function () {
                    let vm = this;
                    axios.post('/', {
                        security: vm.order.security,
                        shares: vm.order.shares,
                        operation: vm.order.operation,
                        method: vm.order.method
                    }).then(function (response) {
                        alert('submit success!');
                        console.log(response.data)
                    }).catch(function (error) {
                        alert('submit failed!');
                        console.log(error);
                    })
                }
            }
        })
    </script>
{% endblock %}