{% extends "base.html" %}
{% block content %}
    <h2>Login Page</h2>

    <form action="" method="POST" name="form">
        <div class="col-md-4 col-md-offset-4">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label class="control-label" for="email">email</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                {{ form.password }}
            </div>
            <button class="btn btn-default" type="submit">Submit</button>
        </div>
    </form>

    <a href="{{ url_for('auth_flask_login.register') }}">Click here to register</a>
{% endblock %}