{% extends "base.html" %}

{% block head %}
    <title>Sign up</title>
    <link href="{{ url_for("static", filename="custom/signin.css") }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">
        <form action="" method="POST" name="form" class="form-sign">
            <h2 class="form-sign-heading">Please sign up</h2>
            {{ form.hidden_tag() }}

            <label for="email" class="sr-only">Email address</label>
            {{ form.email(class="form-control", placeholder="Email address", autofocus=true) }}

            <label for="password" class="sr-only">Password</label>
            {{ form.password(class_="form-control", placeholder="Password") }}

            <label for="confirm" class="sr-only">Confirm</label>
            {{ form.confirm(class_="form-control", placeholder="Repeat Password") }}

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            <p>Already has an account?<a href="{{ url_for("auth_flask_login.login") }}">Click here for sign in!</a></p>
        </form>
    </div>

{% endblock %}