{% extends 'base.html' %}

{% block head %}
    <title> History </title>
{% endblock %}

{% block content %}
    <select v-model="selected">
        <option>A</option>
        <option>B</option>
    </select>
    <div id="app">
        ${ message }
    </div>

    {#    <div id="example-2">#}
    <button id="example-2" v-on:click="greet">
        Hello
    </button>
    {#    </div>#}

    <form id="form" v-on:submit.prevent="hello">
        <input type="text" v-model="sgd.text" placeholder="sgd-name">
        <input type="text">
        <input type="number">
        <select></select>
        <select></select>
        <input type="submit" value="submit">
    </form>

    <script>
        let form = new Vue({
            el: "#form",
            data: {
                sgd: {
                    text: 'hello'
                }
            },
            methods: {
                hello: function () {
                    {#                   this.sgd.text = "click the form"#}
                    let vm = this;
                    axios.post('/post', {
                        hello: vm.sgd.text
                    })
                        .then(function (response) {
                            console.log(response);
                            vm.sgd.text = response.data
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    {#                    alert('hello')#}
                }
            }
        });

        let example2 = new Vue({
            el: '#example-2',
            data: {
                name: 'Vue.js2'
            },
            // define methods under the `methods` object
            methods: {
                greet: function (event) {
                    // `this` inside methods points to the Vue instance
                    alert('Hello ' + this.name + '!')
                    // `event` is the native DOM event
                    alert(event.target.tagName)


                }
            }
        })

        var watchExampleVM = new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data: {
                message: 'hello message'
            },
            created: function () {
                this.getAnswer();
            },
            watch: {
                // whenever question changes, this function will run
                question: function (newQuestion) {
                    {#                    this.answer = 'Waiting for you to stop typing...'#}
                    this.getAnswer()
                }
            },
            methods: {
                // _.debounce is a function provided by lodash to limit how
                // often a particularly expensive operation can be run.
                // In this case, we want to limit how often we access
                // yesno.wtf/api, waiting until the user has completely
                // finished typing before making the ajax request. To learn
                // more about the _.debounce function (and its cousin
                // _.throttle), visit: https://lodash.com/docs#debounce
                getAnswer: function () {
                    var vm = this
                    {#                        if (this.question.indexOf('?') === -1) {#}
                    {#                            vm.answer = 'Questions usually contain a question mark. ;-)'#}
                    {#                            return#}
                    {#                        }#}
                    {#                        vm.answer = 'Thinking...'#}
                    axios.get('/test')
                        .then(function (response) {
                            vm.message = response.data
                            console.log(response.data)
                        })
                        .catch(function (error) {
                            vm.message = 'Error! Could not reach the API. ' + error
                        })
                }
            }
        })
    </script>

    {#    <script>#}
    {#        axios.get('/test')#}
    {#            .then(function (response) {#}
    {#                console.log(response);#}
    {#                                document.write(response.data);#}
    {#            })#}
    {#            .catch(function (error) {#}
    {#                console.log(error);#}
    {#            });#}
    {#    </script>#}

{% endblock %}